---
import { Element } from "react-scroll";

import { Typography } from "@/components/ui/typography";
import AccordionExperience from "@/components/accordion-experience";

import { experiences } from "@/lib/data";
---

<section class="container py-10 md:pb-20">
  <Element name="Experience">
    <Typography variant="h1" className="py-6 md:py-8">Experience 💼</Typography>
    <AccordionExperience experiences={experiences} client:visible />
  </Element>
</section>
