---
import ThemeToggle from "@/components/theme-toggle";

import { buttonVariants } from "@/components/ui/button";
import { Typography } from "@/components/ui/typography";
import { cn } from "@/lib/utils";

import { Dot } from "lucide-react";
---

<footer
  class="container flex flex-col items-center justify-between gap-2 py-6 sm:flex-row md:py-8"
>
  <div class="flex items-center">
    <Typography variant="small">Built by yours truly</Typography>
    <span class="mx-2">•</span>
    <a
      class={cn(buttonVariants({ variant: "link" }) + " h-auto p-0")}
      href="https://github.com/arjayby/arjby/"
      target="_blank"
    >
      &#60;SourceCode /&#62;
    </a>
  </div>
  <ThemeToggle client:idle />
</footer>
