---
import { Typography } from "@/components/ui/typography";
import { buttonVariants } from "@/components/ui/button";

import { cn } from "@/lib/utils";
---

<section class="container max-w-5xl pt-6 md:pb-10 md:pt-20 lg:pb-20 lg:pt-40">
  <Typography variant="h1" className="py-6">Arjay Bayona</Typography>
  <Typography variant="h3" as="h2">
    Software Engineer | Frontend Developer
  </Typography>
  <Typography>
    Specialize in developing websites and applications, with over 5 years of
    experience and having worked with startups up to large companies throughout
    my career.
  </Typography>
  <div class="ml-[-1rem] pt-6">
    <a
      class={cn(buttonVariants({ variant: "link" }))}
      href="https://github.com/arjayby/"
      target="_blank"
    >
      GitHub
    </a>
    <a
      class={cn(buttonVariants({ variant: "link" }))}
      href="https://www.linkedin.com/in/arjayby/"
      target="_blank"
    >
      LinkedIn
    </a>
  </div>
</section>
