---
import { Image } from "astro:assets";

import NavigationMenu from "@/components/navigation-menu";
import { buttonVariants } from "@/components/ui/button";

import avatarSrc from "/public/arjby_notion_avatar.svg";

import { menus } from "@/lib/data";
---

<nav class="container flex items-center justify-between md:py-4">
  <a href="/" class="ml-[-1rem]">
    <Image src={avatarSrc} alt="Avatar" height={80} width={80} />
  </a>
  <NavigationMenu menus={menus} client:load />
  <div class="flex items-center gap-2">
    <a class={buttonVariants()} href="/Arjay-Bayona_RESUME.pdf" target="_blank">
      Resume
    </a>
  </div>
</nav>
