---
import NavigationBar from "@/containers/navigation-bar.astro";
import Hero from "@/containers/hero.astro";
import Works from "@/containers/works.astro";
import Experience from "@/containers/experience.astro";
import Contact from "@/containers/contact.astro";
import Footer from "@/containers/footer.astro";

import "@/styles/globals.css";
---

<html lang="en">
  <head>
    <title>Arjay Bayona - Software Engineer | Frontend Developer</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="robots" content="index" />

    <!-- Primary Meta Tags -->
    <meta name="title" content="Arjay Bayona — Software Engineer | Frontend Developer" />
    <meta name="description" content="I make software do the cha-cha for a living." />

    <!-- Astro -->
    <meta name="generator" content={Astro.generator} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://arjby.com/" />
    <meta property="og:title" content="Arjay Bayona — Software Engineer | Frontend Developer" />
    <meta property="og:description" content="I make software do the cha-cha for a living." />
    <meta property="og:image" content="https://arjby.com/og.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://arjby.com/" />
    <meta property="twitter:title" content="Arjay Bayona — Software Engineer | Frontend Developer" />
    <meta property="twitter:description" content="I make software do the cha-cha for a living." />
    <meta property="twitter:image" content="https://arjby.com/og.png" />

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
  </head>
  <body>
    <NavigationBar />
    <Hero />
    <Works />
    <Experience />
    <Contact />
    <Footer />
  </body>
</html>

<script is:inline>
  const theme = (() => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }
    return "light";
  })();

  if (theme === "light") {
    document.documentElement.classList.remove("dark");
  } else {
    document.documentElement.classList.add("dark");
  }
  window.localStorage.setItem("theme", theme);
</script>
