---
import NavigationBar from "@/containers/navigation-bar.astro";
import Hero from "@/containers/hero.astro";
import Works from "@/containers/works.astro";
import Experience from "@/containers/experience.astro";
import Contact from "@/containers/contact.astro";
import Footer from "@/containers/footer.astro";

import "@/styles/globals.css";
---

<html lang="en">
  <head>
    <title>Arjay Bayona - Software Engineer | Frontend Developer</title>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="Specialize in developing websites and applications, with over 4 years of experience and having worked with startups up to large companies throughout his career."
    />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <NavigationBar />
    <Hero />
    <Works />
    <Experience />
    <Contact />
    <Footer />
  </body>
</html>

<script is:inline>
  const theme = (() => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }
    return "light";
  })();

  if (theme === "light") {
    document.documentElement.classList.remove("dark");
  } else {
    document.documentElement.classList.add("dark");
  }
  window.localStorage.setItem("theme", theme);
</script>
